@model ElearnerApp.ViewModels.TestViewModel
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("TestForm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    <input type="file" name="Image"/>

    <button type="submit" class="btn btn-primary">Sign Up</button>
}
