header .logodiv {
    height: 100px;
}

.logodiv .div2 span {
    display: inline-block;
    color: #68228B;
    font-weight: bold;
    font-size: 1.5em;
    margin: 12px;
}

.logodiv .div3 p {
    font-size: 3em;
    padding-top: 25px;
    color: #006400;
}

header .subscribe {
    padding: 20px;
}

/* nav-bar */

#myNavbar li a:hover {
    background-color: #555;
    color: white;
}



/* carousel */
#myCarousel {
    margin: -40px -100px 0;
}
/* popular courses */
.popular {
    text-align: center;
    color: tomato;
}


/* footer */
footer {
    background-image: url("images/footer.jpg");
    color: white;
}

    footer p {
        padding-top: 10px;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
}

/* Content Page*/

.contentPage section {
    margin-bottom: 10px;
}

.contentPage #embed {
    margin-top: 20px;
}



.contentPage .active .unchecked {
    display: inline-block;
}

.contentPage textarea {
    margin: 0 auto;
    min-width: 90%;
    height: 70%;
}

.contentPage label.btn.btn-primary.active {
    background-color: rgb(225, 194, 24);
}

#quiz {
    margin: 20px auto !important;
    display: inline-block;
}





/* Sign Up - LogIn*/

.btnLink {
    margin-bottom:10px;
}
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}
