USE [master]
GO
/****** Object:  Database [ELearnerDB]    Script Date: 14-Jun-17 3:41:41 PM ******/
CREATE DATABASE [ELearnerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELearnerDB_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ELearnerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ELearnerDB_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ELearnerDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELearnerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELearnerDB]
GO
USE [ELearnerDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[AccountId] [int] NOT NULL,
	[Deposit] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_dbo.BankAccounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[CourseId] [int] NOT NULL,
	[TextContent] [varchar](1000) NOT NULL,
	[VideoUrl] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Contents] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[Description] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [varchar](50) NOT NULL,
	[Answer] [bit] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[AccountId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Birthdate] [date] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[CourseId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Comment] [varchar](200) NULL,
	[Rate] [tinyint] NULL,
	[Grade] [tinyint] NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 14-Jun-17 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[AccountId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Email], [Password]) VALUES (1, N'admin@admin.com', N'1234')
INSERT [dbo].[Accounts] ([Id], [Email], [Password]) VALUES (2, N'mosh@gmail.com', N'456')
INSERT [dbo].[Accounts] ([Id], [Email], [Password]) VALUES (3, N'giannis@panago.gr', N'100')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
INSERT [dbo].[BankAccounts] ([AccountId], [Deposit]) VALUES (1, CAST(0.15 AS Decimal(10, 2)))
INSERT [dbo].[BankAccounts] ([AccountId], [Deposit]) VALUES (2, CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[BankAccounts] ([AccountId], [Deposit]) VALUES (3, CAST(1000.00 AS Decimal(10, 2)))
INSERT [dbo].[Contents] ([CourseId], [TextContent], [VideoUrl]) VALUES (3, N'Learn C# and programming mindset using high-quality, bite-sized videos with real-world examples and lots of exercises. ', N'https://www.youtube.com/embed/d2o3JwlX2bI')
INSERT [dbo].[Contents] ([CourseId], [TextContent], [VideoUrl]) VALUES (4, N'Entity Framework is an Object / Relational Mapper (O/RM) that helps you read and write data from and to a database. In this course, Mosh, teaches you the core concepts of Entity Framework through a series of clear, concise and hands-on lectures.


Whether you''re new to Entity Framework, or been using it for a while but are looking for a comprehensive course with a clean structure to fill the missing parts, you''re going to love this course.', N'https://www.youtube.com/embed/ZX7_12fwQLU')
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Name], [Duration], [Price], [TeacherId], [Description]) VALUES (3, N'C# for Bootcamp', 500, CAST(1000.00 AS Decimal(10, 2)), 3, N'Learn C# and programming mindset using high-quality, bite-sized videos with real-world examples and lots of exercises. ')
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id], [Question], [Answer], [CourseId]) VALUES (1, N'To be or not to be?', 1, 5)
INSERT [dbo].[Questions] ([Id], [Question], [Answer], [CourseId]) VALUES (3, N'Do you like ice cream?', 1, 5)
INSERT [dbo].[Questions] ([Id], [Question], [Answer], [CourseId]) VALUES (4, N'Do you like Belucci?', 1, 5)
SET IDENTITY_INSERT [dbo].[Questions] OFF
INSERT [dbo].[Students] ([AccountId], [Name], [Lastname], [Birthdate]) VALUES (1, N'Admin', N'Admin', CAST(N'1900-01-01' AS Date))
INSERT [dbo].[Students] ([AccountId], [Name], [Lastname], [Birthdate]) VALUES (4, N'Jim', N'Doe', CAST(N'1988-12-15' AS Date))
INSERT [dbo].[Students] ([AccountId], [Name], [Lastname], [Birthdate]) VALUES (5, N'Basilis', N'Theo', CAST(N'1991-11-23' AS Date))
INSERT [dbo].[Subscriptions] ([CourseId], [StudentId], [Comment], [Rate], [Grade]) VALUES (2, 1, NULL, NULL, NULL)
INSERT [dbo].[Subscriptions] ([CourseId], [StudentId], [Comment], [Rate], [Grade]) VALUES (2, 5, N'Bad Course, waste of time!Bad Course, waste of time!Bad Course, waste of time!Bad Course, waste of time!Bad Course, waste of time!Bad Course, waste of time!Bad Course, waste of time!Bad Course, waste ', 1, 0)
INSERT [dbo].[Subscriptions] ([CourseId], [StudentId], [Comment], [Rate], [Grade]) VALUES (2, 8, NULL, NULL, NULL)
INSERT [dbo].[Teachers] ([AccountId], [Name], [Lastname]) VALUES (2, N'Mosh', N'Hamedani')
INSERT [dbo].[Teachers] ([AccountId], [Name], [Lastname]) VALUES (3, N'Giannis', N'Panagopoulos')
INSERT [dbo].[Teachers] ([AccountId], [Name], [Lastname]) VALUES (15, N'John', N'Doe')
/****** Object:  Index [IX_AccountId]    Script Date: 14-Jun-17 3:41:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[BankAccounts]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [DF__Courses__Descrip__5CD6CB2B]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BankAccounts_dbo.Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_dbo.BankAccounts_dbo.Accounts_AccountId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_Contents_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_Contents_Courses]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([AccountId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Teachers]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Courses]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Accounts]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Courses]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([AccountId])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Students]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Accounts]
GO
USE [master]
GO
