@model List<ElearnerApp.Models.Teacher>
@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of Our Teachers</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>
