@model ElearnerApp.ViewModels.ContentViewModel
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container contentPage">
    <div class="col-sm-8 col-sm-push-2">
        <h2 class="text-center">@Model.Course.Name</h2>

        <section>
            <div class="row">
                @Model.Content.TextContent

            </div>
        </section>

        <section>
            <div>
                <div class="embed-responsive embed-responsive-16by9 embed">
                    <iframe class="embed-responsive-item" src=@Model.Content.VideoUrl frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <div class="text-center">
            <input id="quiz" type="button" class="btn btn-info" value="Take Quiz"
                   onclick="location.href='@Url.Action("Quiz", "Courses", new { Id = Model.Course.Id})'" />
        </div>

        <section>
            @using (Html.BeginForm("Content", "Courses", FormMethod.Post))
            {
                <p>Comment</p>
                @Html.TextAreaFor(s => s.Subscription.Comment)

                <input type="submit" class="btn btn-primary" value="Submit Comment">
            }
        </section>
    </div>
</div>